<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Dodaj mecz</title>
</head>
<body>
<div layout:fragment="content">
    <form class="row g-3" method="post" th:action="@{/add}" th:object="${match}">
        <h2>Dodawanie meczu</h2>
        <input th:field="*{betCount}" type="hidden">
        <div class="col-md-6">
            <label class="form-label" th:for="host">Gospodarze</label>
            <input class="form-control" required th:field="*{host}" th:id="host" type="text"/>
        </div>
        <div class="col-md-6">
            <label class="form-label" th:for="visitor">Goście</label>
            <input class="form-control" required th:field="*{visitor}" th:id="visitor" type="text"/>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" name="submit" type="submit" value="submit">Dodaj</button>
        </div>
    </form>
</div>
</body>
</html>