<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Logowanie</title>
</head>
<body>
<div layout:fragment="content">
    <form class="row g-3" method="post" th:action="@{/login}">
        <h2>Logowanie</h2>
        <h3 th:if="${register}">Pomyślnie zarejestrowano użytkownika!</h3>
        <div class="col-md-12">
            <label class="form-label" th:for="user">Użytkownik</label>
            <input name="username" class="form-control" required placeholder="użytkownik" th:id="user" type="text"/>
        </div>
        <div class="col-md-12">
            <label class="form-label" th:for="pass">Hasło</label>
            <input name="password" class="form-control" required placeholder="hasło" th:id="pass" type="password"/>
        </div>
        <div class="col-12">
            <button class="btn btn-primary" name="submit" type="submit" value="login">Zaloguj</button>
        </div>
        <h3 th:if="${showErrorMessage}">Niepoprawne logowanie!</h3>
    </form>
</div>
</body>
</html>