<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout.html}">
<head>
    <meta charset="UTF-8">
    <title>Użytkownik</title>
</head>
<body>
<div layout:fragment="content">
    <form class="row g-3" method="post" th:action="@{/profile}" th:object="${user}">
        <h2 th:text="|Użytkownik ${user.username}|"></h2>
        <h3 th:if="${updated}">Zapisano dane</h3>
        <h3 th:if="${updated == false}">Niepoprawne hasło</h3>
        <input th:field="*{id}" type="hidden">
        <input th:field="*{username}" type="hidden">
        <div class="col-md-12">
            <label class="form-label" th:for="firstname">Imię</label>
            <input class="form-control" th:field="*{firstName}" th:id="firstname" type="text"/>
        </div>
        <div class="col-md-12">
            <label class="form-label" th:for="lastName">Nazwisko</label>
            <input class="form-control" th:field="*{lastName}" th:id="lastName" type="text"/>
        </div>
        <div class="col-md-12">
            <label class="form-label" th:for="password">Aktualne hasło</label>
            <input class="form-control" th:field="*{password}" th:id="password" type="password"/>
        </div>
        <div class="col-md-12">
            <label class="form-label" th:for="newPassword">Nowe hasło</label>
            <input class="form-control" th:name="newPassword" th:id="newPassword" type="password"/>
        </div>
        <div class="col-md-6">
            <button class="btn btn-primary" name="submit" type="submit" value="submit">Zapisz</button>
        </div>
    </form>
</div>
</body>
</html>